[submodule "PhdUtility"]
	path = PhdUtility
	url = git@github.com:majesticrock/PhdUtility.git
[submodule "cpp/FermionCommute"]
	path = cpp/FermionCommute
	url = git@github.com:majesticrock/FermionCommute.git
[submodule "cpp/ContinuumSystem"]
	path = cpp/ContinuumSystem
	url = git@github.com:majesticrock/ContinuumSystem.git
[submodule "cpp/Hubbard"]
	path = cpp/Hubbard
	url = git@github.com:majesticrock/Hubbard.git
[submodule "cpp/FlowCommutators"]
	path = cpp/FlowCommutators
	url = git@github.com:majesticrock/FlowCommutators.git
[submodule "phd_plot_scripts"]
	path = phd_plot_scripts
	url = git@github.com:majesticrock/phd_plot_scripts.git
[submodule "PresentationsPhd"]
	path = PresentationsPhd
	url = git@github.com:majesticrock/PresentationsPhd.git
[submodule "cpp/HigherHarmonics"]
	path = cpp/HigherHarmonics
	url = git@github.com:majesticrock/HigherHarmonics.git
