This file lists the expected features that should be present if the test suite is performed.

# Hubbard

## SC-CDW
Peak at ω=0 in Phase, Higgs, and CDW
Peak at ω=2Δ in Higgs and CDW
Both AFM are only inside the continuum

## SC
Peak at ω=0 in Phase
Peak at ω=2Δ in Higgs
Weak peak at ω<2Δ in CDW
Both AFM are only inside the continuum

## CDW
Peak at ω=2Δ in Higgs and Phase
Peak at ω=2Δ in CDW
Both AFM are only inside the continuum

## AFM
SC and CDW only in Continuum
Peak at ω=0 in t.AFM
Peak at ω=2Δ in l.AFM 

# Continuum

## No Coulomb
Phase peak at ω=0
Higgs peak at ω=2Δ

## Normal screening
Phase peak at ω>0  (around 5.5 meV)
Higgs peak at ω<2Δ (around 7.5 meV)

## Weak screening
No visible phase peak 
Higgs peak at ω=2Δ 

## Strong attraction
Phase peak at ω=0
Multiple peaks at ω<2Δ