# phases, modes
compute_what modes
# T, U, V
model_parameters 0 -3 0
# Number of discretization points for the iterator that is being split to MPI
global_iterator_steps 1
global_iterator_upper_limit -1
global_iterator_type U
# Number of discretization points for the second iterator
second_iterator_steps 160
second_iterator_upper_limit 0
second_iterator_type V
# Half the number of points in k-space per direction
k_discretization 10
output_folder T0/
use_broyden true
start_basis_at 2
number_of_basis_terms 4