# phases, modes
compute_what phases
improved_boundaries true
# T, U, V
model_parameters 0 4 0
# chain, square, cube
lattice_type square
use_DOS true
# Number of discretization points for the iterator that is being split to MPI
global_iterator_steps 64
global_iterator_upper_limit 0.5
global_iterator_type T
# Number of discretization points for the second iterator
second_iterator_steps 64
second_iterator_upper_limit 2
second_iterator_type V
# Half the number of points in k-space per direction
k_discretization 60
output_folder dos_U4/
use_broyden true
start_basis_at -1
number_of_basis_terms 10