# phases, modes
compute_what phases
# T, U, V
model_parameters 0 -2 -2
# Number of discretization points for the iterator that is being split to MPI
global_iterator_steps 32
global_iterator_upper_limit 2
global_iterator_type V
# Number of discretization points for the second iterator
second_iterator_steps 32
second_iterator_upper_limit 2
second_iterator_type U
# Half the number of points in k-space per direction
k_discretization 200
output_folder T0/
use_broyden true
start_basis_at -1
number_of_basis_terms 10