# phases, modes
compute_what modes
improved_boundaries false
# T, U, V
model_parameters 0 -2 0.1
# chain, square, cube
lattice_type square
use_DOS true
# Number of discretization points for the iterator that is being split to MPI
global_iterator_steps 1
global_iterator_upper_limit -1
global_iterator_type V
# Number of discretization points for the second iterator
second_iterator_steps 160
second_iterator_upper_limit 0
second_iterator_type U
# Half the number of points in k-space per direction
k_discretization 3000
output_folder dos_3k/
use_broyden true
start_basis_at -1
number_of_basis_terms 10
