# phases, modes
compute_what phases
improved_boundaries true
# T, U, V
model_parameters 0 -2 -1
# Allows favouring CDW over SC, default 0.5, 0 = pure SC, 1 = pure CDW
ratio_CDW_SC 0
# chain, square, cube
lattice_type square
use_DOS false
# Number of discretization points for the iterator that is being split to MPI
global_iterator_steps 8
global_iterator_upper_limit 2
global_iterator_type U
# Number of discretization points for the second iterator
second_iterator_steps 8
second_iterator_upper_limit 1
second_iterator_type V
# Half the number of points in k-space per direction
k_discretization 60
output_folder test/
use_broyden true
start_basis_at -1
number_of_basis_terms 10